*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a:hover{
    text-decoration: none;
}
[class*="col-"]{
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
}
html,body{
    overflow-x: hidden;
}
.visi{
    visibility: hidden;
}
/* banner-media*/
.banner-media{background-color: #ffff2a;}
.media-slider img{
    max-width: 1140px;
}
/* header */
header .header_top{
    background-color: #000;
}
.row{
    margin: auto;
    align-items: center;
}
.header_logo{
    margin-right:10px;
    width: 141px;
    height: 36px;
}
.header_top img{
    width: 100%;
    height: 35px;
}
.bordercol{
    background-color: #232323;
    width: 1px;
    height: 55px;
}
.header_address{
    color:#fff;
    font-size: 11px;
    line-height: 15px;
    padding-left: 15px;
    height: 30px;
    margin-right: 15px;
    max-width: max-content;
}
.header_address span{
    color: #ffe500;
    font-weight: bold;
    display: block;
    max-width: 117px;
    position: relative;
    padding-right: 15px;
    width: max-content;
}
.header_address span::after{
    content: "";
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top:5px solid #ffe500;
    position: absolute;
    right: 0;
    bottom: 5px;
}
/* header_form*/
.header_top form{
    position: relative;
    width: 18.5%;
    background-color: #fff;
    border-radius: 4px;
}
.header_top form input{
    border: none;
    font-size: 12px;
    line-height: 12px;
    height: 30px;
    width: 100%;
    padding: 8px 35px 8px 13px;
    border-radius: 4px;
}
.header_top form button{
    border:none;
    background-color: transparent;
    position: absolute;
    top:4px;
    right: 10px;
}
.header_top form button i{
    height: 17px;
    width: 17px;
    font-size:18px;
}
/* header_cart */
.header_cart{
    margin-left: 10px;
    border:1px solid #8f8f8f;
    border-radius: 4px;
    color:#fff;
    font-size:12px;
    line-height:12px;
    padding:7px 13px;
    width: 105px;
}
.header_cart i{
    margin-right: 6px;
    font-size:16px;
}
.header_cart:hover{
    background-color: rgba(255,255,255,.4);
    color:#fff;
}
/* header-history*/
.header_history{
    color:#fff;
    width: 55px;
    font-size:12px;
    line-height: 12px;
    margin:0 12px 0 18px;
    text-align: center;
}
.header_history:hover {
    color:#fed100;
}
/*header_hot*/
.header_hot{
    flex-grow: 1;
}
/*list*/
.divitem {
    padding: 0 12px;
    text-align: center;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.divitem:hover a{
    color:#fed100;
}
.divitem a{
    color:#fff;
    font-size: 12px;
    line-height: 12px;
}
/* header_menu*/
.header_menu{
    background-color: #fed100;
}
.header_menu .row{
    justify-content: space-between;
}
.header_menu li{
    cursor: pointer;
}
.menu li>a{
    color: #000;
    line-height: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 9px;
    height: 43px;
    position: relative;
}
.menu li>a i{
    font-size: 18px;
    margin-right: 5px;
}
.menu .calldown{
    position: relative;
}
.menu .calldown a>span::after{
    content: "";
    border-top:6px solid #000;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    display: inline-flex;
    margin-left:5px;
}
.menu li:hover{
    background-color: #fff;
}
.phukien:hover .navpk{
    display: block;
}
.phukien .navpk{
    width: 770px;
}
.down{
    display: none;
    position: absolute;
    top: 43px;
    border-radius: 4px;
    padding: 10px;
    border: 1px solid #ccc;
    left:0;
    z-index:20;
    background-color: #fff;
}
.navpk .PKDD{
    width: 33%;
    margin-bottom: 10px;
}
.navpk strong{
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    font-size: 13px;
    color: #333;
    margin: 0 !important;
}
.down a {
    color: #000;
    padding: 10px 8px 0 0;
    display: block;
}
.down a:hover{
    background-color: #fff;
    color:#007bff;
}
.down h3{
    font-size: 12px;
}
.nav_box{
    display: flex;
    width: 67%;
    flex-wrap: wrap;
    justify-content: space-around;
}
.nav_box .thhd strong>a{
    display:inline-flex;
    color:#007bff;
    align-items: center;
    padding: 0;
}
.nav_box .thhd strong>a::after{
    content: "";
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 5px solid #007bff;
    width: 0;
    height: 0px;
    display: inline-flex;
    margin-left: 5px;
    justify-content: center;
}
.mb_10{
    margin-bottom: 20px;
}
.pcin:hover .navpc{
    display: block;
}
.navpc {
    width: 150px;
}
.simthe{
    position: absolute;
}
.simthe {
    border-radius: 4px;
    position: absolute;
    font-size: 9px;
    background: #e51515;
    color: #fff;
    padding: 0 5px;
    top: 0;
    right: -10px;
    font-weight: normal;
}
span.simthe::after {
    content: "";
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #e51515;
    bottom: -5px;
    left: 4px;
}
/*lacation*/
.lacationbox_over{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.75);
    margin: auto;
    display: none;
}
/* end deader */

/* section */
/* barTop */
.bar_top{
    display: flex;
}
.main_banner{
    width: 70%;
    padding: 20px 10px 0 0;
}
.main_banner img{
    border-radius: 10px;
    height:  328px !important;
}
/*product_hot*/
.preorder_hot{
    flex-basis:30%;
    padding-top: 20px;
}
.preorder_hot>div{
    display: flex;
}
.preorder_hot>div>a{
    width:50%;
    padding: 0 0 10px 8px;
}
.preorder_hot img{
    width: 100%;
}
/*prd_promo*/
.prd_promo{
    background-color: #fed100;
    border-radius: 4px;
    margin-top:15px;
    padding: 10px 0;
}
.prd_promo_top{
    padding:0 10px 10px;
}
.prd_promo_top>p{
    font-size: 24px;
    color: #000;
    font-weight: bold;
    font-family: auto;
    line-height: 24px;
}
.list{
    display: flex !important;
    justify-content: space-around;
}
.list>a{
    margin:0 5px;
    background-color: #fff;;
    border-radius: 4px;
    padding: 10px 0 20px;
    color:#000;
}
.list>a:hover img{
    transform: translateY(-10px);
}
.item_img{
    width: 200px;
    margin:20px auto;
}
.item_img>img{
    width: 200px;
}
.item_label{
    width: 22px;
}
.item_label .lb_tragop{
    border-radius: 2px;
    margin-left: 16px;
    display: block;
    background: #ccc;
    width: max-content;
    padding: 2px;
    font-size: 11px;
    color: #000;
}
.list>a>h3{
    font-size: 16px;
    font-family: ui-monospace;
    margin: 0px 0 10px 16px;
    height: 40px;
    width: 190px;
    padding-right: 16px;
}
.box_p{
    margin-left:16px;
    margin-bottom: 5px;
}
.box_p .old.black {
    font-size: 14px;
    text-decoration-line: line-through;
}
strong{
    margin-left: 16px;
    margin-bottom: 5px;
}
.mg{
    margin-left: 16px;
    margin-bottom: 5px;
}
.item_gift{
    font-size: 13px;
    color:#333;
}
.item_gift b{
    font-weight: normal;
}
.item_rating{
    display: flex;
}
.item_rating i.fa.fa-star {
    color: #fed100;
}
i.fa.fa-star.dark {
    color: #ccc;
}
.item_rating_total{
    color:#333;
    margin-left:5px;
}
.btn-l {
    left: -90px;
}
.btn{
    border:2px solid #000;
    background-color: #000;
    width: 50px;
    height: 50px;
}
.btn-r {
    right: -90px;
}
.computer img{
    height: 150px;
}
.computer h3{
    height: 50px !important;
}
.item_compare>span{
    padding: 2px;
    font-size: 11px;
    border:1px solid #ccc;
    border-radius: 2px;
}
.list>a:hover h3{
    color:#007bff;
}
/* DIEN THOAI */
.box_common{
    margin-top:30px;
}
.box_common_top{
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box_common_top h3{
    font-size: 24px;
    font-weight: bold;
    text-shadow: 0 3.5px #ccc;
}
.box_common_link a{
    border: 2px solid #e0e0e0;
    font-size: 13px;
    color: #333;
    padding: 10px 11px;
    border-radius: 16px;
    display: inline-block;
    margin-left: 10px;
}
.box_common_link a:hover{
    color:#288ad6;
}
.list_product{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: max-content max-content max-content max-content max-content max-content;
}
.item_product.list {
    border: 1px solid #f1f1f1;
}
.d-block.w-100.item_product.list>a {
    margin: 0 !important;
    /* flex: 1; */
    width: 20%;
    border: 1px solid #f1f1f1;
}
/* dong ho */
.dongho{
    background-color: #203E4E;
    display: flex;
    align-items: center;
    margin-top: 30px;
    border-radius: 5px;
}
.dongho_left{
    width: 20%;
}
.dongho_right{
    width: 80%;
}
.dongho_top{
    display: flex;
    margin: 12px 0;

}
.dongho_top>li{
    border: 1px solid rgb(255,255,255);
    padding: 10px 18px;
    border-radius: 4px;
    color: rgba(255,255,255,0.8);
    cursor: pointer;
    margin-left: 5px;
}
.dongho_top>li.act{background-color: #fff;color:#05314a}
.dongho .d-block.w-100.item_product.list>a {width: 25%;}
/* chuyên trang thương hiêu */
.trademark{
    margin: 30px 0;
}
.title_layout{
    margin-bottom: 15px;
    text-shadow: 0 4px #ccc;
}
.trademark_list{
    display: flex;
    justify-content: space-between;
}
.trademark_list a{
    flex-basis: 32%;
}
.trademark_list img{
    width: 100%;
    border-radius: 5px;
}
/* application */
.application{
    display: flex;
}
.application .title_layout{
    display: inline-block;
}
.col_1 {
    flex-basis: 70%;
}
.box_title a {
    margin-left: 10px;
    position: relative;
    padding-right: 13px;
}
.box_title a::after{
    content: "";
    border-right: 1px solid #288ad6;
    border-top: 1px solid #288ad6;
    position: absolute;
    width: 7px;
    height: 7px;
    transform: rotate(45deg);
    bottom: 3px;
    margin-left: 4px;
}
.col_1_bt{
    display: flex;
}
.bt_main_img{
    width: 100%;
}
.bt_main_img img{
    border-radius: 5px;
}
.bt_main{
    flex-basis: 50%;
}
.bt_main>.col1-title{
    font-size:18px;
    font-weight: bolder;
    margin-top: 10px;
}

.time{
    color:#999;
    margin:10px 0 ;
}
.bt_right {
    flex-basis: 50%;
}
.right_main{
    display: flex;
    margin-left: 5px;
}
.right_main>.bt_main_img {
    flex-basis: 35%;
}
.right_main img{
    width: 100%;
    height: 50%;
}
.bt_right p.col1-title {
    margin-bottom: 3px;
}
.right_main>.box{
    width: 75%;
}
.box{
    font-size: 11px;
    padding-left: 8px;
}
.box>.time{
    margin: 5px;
}
.col_1_bt a {
    color: #000;
}
.col_1_bt a:hover{
    color:#007bff;
}
.col_2{
    flex-basis: 30%;
    padding-left: 5px;
    position: relative;
}
.col_2 img{
    width: 100%;
    border-radius: 15px;
    margin-bottom: 10px;
}
.box-wrap{
    display: flex;
}
.game-box-img {
    flex-basis: 24%;
}
.game-box-main{
    flex-basis: 76%;
    padding-left: 10px;
    color:#000;
}
.game-title>span {
    color: #fff;
    padding: 4px;
    background: #14e252;
    border-radius: 3px;
    font-size: 11px;
}
.game-title>p {
    display: inline-block;
    font-size: 12px;
    margin-left: 2px;
    color: #a99a9a;
}
.game-list {
    margin-bottom: 10px;
}
.game-list-k>a::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #2f80ed;
    position: absolute;
    left: 0;
    top: 9px;
}

.game-list-k>a {
    display: block;
    font-size: 15px;
    position: relative;
    padding-left: 20px;
}
button.btn-game {
    position: absolute;
    width: 50px;
    height: 50px;
    display: block !important;
    top: 79px;
}
span.icon-game {
    width: 100%;
    height: 100%;
}
/* footer */
footer.footer {
    margin-top: 35px;
    border-top: 1px solid #e2e2e2;
}
.footer-top.container {
    padding: 15px 0 8px 0px;
}
.footer-col {
    width: 24%;
    display: inline-block;
    font-size: 16px;
}
.mb_10{
    margin-bottom: 10px;
}
.footer-col>ul a {
    color: #000;
}
.footer-col>ul a:hover{
    color:#007bff;
}
p.mb_10>strong {
    margin: 0;
    font-size: 20px;
}
.f-sicial img {
    width: 20%;
    margin-right: 5px;
}
.f-sicial {
    display: flex;
}
.f-citify img {
    width: 90%;
}
.f-citify {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}
.website {
    display: flex;
    align-items: center;
}
.website img{
    width: 90%;
}
.footer-bottom.container {
    background: #cabfbf;
    padding: 20px 10px;
}
a.xemthem::after {
    content: "";
    border-top: 5px solid #000;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    bottom: 5px;
    right: 0px;
}
a.xemthem {
    position: relative;
    padding-right: 16px;
}
.footer-col>ul a:hover {
    color: #007bff;
}
a.xemthem:hover::after{
    content:"";
    border-top-color: #007bff;
}
@media only screen and (max-width:1200px){
    .media-slider img{
        max-width: 960px;
    }
}
@media only screen and (max-width:992px){
    .media-slider img{
        max-width: 720px;
    }
}
@media only screen and (max-width:768px){
    .media-slider img{
        max-width: 540px;
    }
}
@media only screen and (max-width:576px){
    .media-slider img{
        max-width: 100%;
    }
}
