<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>     
        a {
        display:block;
      }
      </style>
      </head>
      <body>
      
      <p>Hiển thị các liên kết dưới dạng phần tử khối</p>
      
      <a href="/html/default.asp" target="_blank">HTML</a>
      <a href="/css/default.asp" target="_blank">CSS</a>
      <a href="/js/default.asp" target="_blank">JavaScript</a>
      
      </body>
      </html>