*{
    margin: 0px;
    padding: 0px;
}

#menu {
    background-color: greenyellow;
    height: 75px;
    width: 100%;
    color: black;
    position: fixed;
    top: 0px;
    padding-left: 20px;
    
}

#menu ul li {
    text-align: center;
}

#menu li {
    float: right;
    list-style: none;
    width: 100px;
    position: relative;
    padding: 10px;
    bottom: 45px;
    font-weight: bold;
    font-size: 25px;

}

#menu li a {
    text-decoration: none;
    color: rgb(10, 10, 10);
    
}

#menu ul ul {
    visibility: hidden;
    position: absolute;
    top: 55px;
    right: 25px;
}

#menu ul ul li {
    width: 200px;
    background-color: greenyellow;
    top: 10px;
    border-style: solid ;
}
#menu ul li:hover ul{
    
    visibility: visible;

}

#menu img{
    float: left;
}
#menu h1{
    padding-left: 30%;
    padding-top: 20px;
}


