*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
a:hover{
    text-decoration: none;
    color:black;
}
/* header */
header{
    padding: 10px;
    background-color: #8CFC30;
}
.pd-1>.col-4{
    padding-top:10px;
}
header .col-7{
    color:#FCA43D;
    padding-top: 5px;
}
header .col-2{
    padding:5px;
    justify-content: flex-end;
}
button{
    border-radius: 5px;
    
}
header .col-2>.col-5:first-child{
    margin-right: 5px;

}