*{
	margin:0px;
	border:0px;
}


header{
	width:100%;
}
#main nav li {
	text-decoration: none;
	list-style-type: none;
	text-align: center;
	
}
#main nav li a{
	color:black;
	text-decoration: none;
	line-height:30px;
	font-size:18px
}
#main #login a{
	text-decoration: none;
	color:black
}
#container #left a{
	color:black;
	text-decoration: none;
}
 #main nav ul li{
	float:left;

}
#main nav ul {
padding:10px;
background-color:black;
height:30px
}
#main nav ul li a{
	color:white;
	padding:10px
}
#main nav li.login a {
	position:absolute;
	right: 16px;
    top: -1px;
}
#container {
	width:100%;

}
#left nav {
	margin-top:0px;
	float:left;
	height:478px;
	background-color: lightgray;
	width:57px
}
#left a{
	display:block;
	text-align: center;
	font-size:16px;
	padding:13px
}
#content {
	width:50%
}
#content section{
	border:1px solid black;
	font-size:17px;
	padding:10px;
	text-emphasis: center;
	min-height: 100px;
	float:left;
	width:50%;
	margin:10px
}
aside{
	float:right;
	display: block;
	width: 100px;
	margin-top:-332px;
	padding-right:50px;
background-color:lightgray;
height:478px;
text-align: center;
}

footer{
	background-color: black;
	color:white;
	text-align: center;
	height:25px;
	line-height:23px;
	clear:both;
	width:100%
}