<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

        #before::before {
            content: ' Test before ';
        }

        #after::after {
            content: ' Test after ';
        }
    </style>
</head>
<body>
    <h1>after và before</h1>

    <p id="before">Example use pseudo-element before</p>
    <p id="after">Example use pseudo-element after</p>
</body>
</html>