.carousel-item img{
	margin-left:56px;
	width:90%;
	height:500px;
	margin-top:30px;
}
.t-1{
	text-align:center;
	margin-top:10px;
}
.card-box{
	display:flex;
	margin-left:56px;
	margin-top:30px;
	flex-wrap:wrap
}
.card {
	flex-basis: 30%;
	margin-left:20px;
	margin-bottom:20px;
}
.card h5,p{
	text-align: center;
}
.hr{
	margin-bottom: 1.5rem!important;
	margin-top: 1.5rem!important;
}
.t-2{
	text-align: center;
}
.form-inline{
	margin-left:180px;
}
.container{
	margin-top:50px;
}
.footer{
	width:100%;
}