body {
    background: url("anhnen.jpg") repeat-x;
}

ul.a {
    list-style-type: circle;
    color: red;
    list-style-position: inside;
    border: 1px solid grey;
    padding: 40px;
    background-color: cornsilk;
    font-size: 25px;
    list-style-image: url("sqpurple.gif");
}

ul.b {
    color: white;
    margin-left: 30px;
    border: 5px double pink;
    padding: 40px;
    background-color: black
}

ol.c {
    list-style-type: lower-alpha;
    border: 4px outset rgb(96, 96, 226);
    padding: 30px;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

table,
th,
td {
    border: 1px solid black;
    text-align: left;
}

th.d {
    text-align: center;
}

td.d {
    vertical-align: bottom;
    height: 40px
}

th.d,
td.d {
    padding: 20px
}