*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header */
header{
    font-family: sans-serif;
}
.navbar-brand img{
    border-radius: 10px;
}
.navbar-brand span{
    font-weight: bolder;
    font-family: Brush Script MT;
    font-size: 26px;
}
.collapse{
    font-size: 15px;
}
.dropdown-menu{
    top: 48px;
}
/* infomation */
.info .col-lg-4 .card-body{
    height: 200px;
} 
hr{
    height: 1px;
    background-color: aquamarine;
}
.sign-in .col-sm-5{
    padding-top: 6vmin;
}
ul{
    list-style: none;
}