h1{
    text-align: center;
    color: aqua;
}
table{
    text-align: center;
    width: 1000px;
    height: 500px;
    font-size: 20px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
.row-th{
    border: 3px white solid;
    font-weight: bold;
    color: white;
    background-color: rgb(230, 135, 27);
}
.row-th:nth-child(1){
    background-color: red;
}
.row-th:nth-child(7){
    background-color: blue;
}
.row-2:last-child{
color: blue;
}
.row-2:first-child{
    color: red;
}
.row-date{
    border: 3px solid rgb(185, 185, 185);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
}
td>sub:nth-child(1){
    color:black;
}
td:nth-child(1){
    color: red;
}
td:nth-child(7){
    color: blue;
}
td>sub:nth-child(7){
    color: black;
}