




     * {
        margin: 0;
        padding: 0;
    }

    * {
        box-sizing: border-box;
    }

    .header {
        padding: 50px;
        text-align: center;
        background-color: brown;
        color: white;
    }

    .menu {
        background-color: teal;
        padding: 5px;
        text-align: center;
        color: white;
    }

    .left {
        width: 30%;
        height: 600px;
        background-color: tomato;
        float: left;
    }
    .left .wrp-top{
        display: none;
    }

    .right {
        float: right;
        width: 70%;
        height: 600px;
        background-color: darkgoldenrod;
    }
    .right .wrp-bot{
        display: none;
    }

    .wrapper::after {
        content : '';
        clear : both;
        display : table;
    }


    .footer {
        text-align: center;
        color: white;
        padding: 5px;
        background-color: black;
    }

    .top {
        border-radius: 50%;
        background-color: red;
        width: 50px;
        height: 50px;
        position: fixed;
        right: 20px;
        bottom: 20px;
    }
