table{
    width: 600px;
    height: 600px;
    border: 1px black solid;
    text-align: center;
    background-color: rgb(250, 197, 178);
    border-collapse: collapse;
}
.border__child-black{
    background-color: black;

}
.border__child-white{
    background-color: white;
}
.Text{
    width: 50px;

}
.Number{
    height: 50px;
}